<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @terceirizado.nome %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @terceirizado.cpf %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @terceirizado.rg %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @terceirizado.celular %>
</p>

<p>
  <strong>Email:</strong>
  <%= @terceirizado.email %>
</p>

<p>
  <strong>Caminhao:</strong>
  <%= @terceirizado.caminhao %>
</p>

<p>
  <strong>Placacaminhao:</strong>
  <%= @terceirizado.placacaminhao %>
</p>

<p>
  <strong>Renavancaminhao:</strong>
  <%= @terceirizado.renavancaminhao %>
</p>

<p>
  <strong>Cegonha:</strong>
  <%= @terceirizado.cegonha %>
</p>

<p>
  <strong>Placacegonha:</strong>
  <%= @terceirizado.placacegonha %>
</p>

<p>
  <strong>Renavancegonha:</strong>
  <%= @terceirizado.renavancegonha %>
</p>

<%= link_to 'Edit', edit_terceirizado_path(@terceirizado) %> |
<%= link_to 'Back', terceirizados_path %>
