<p id="notice"><%= notice %></p>

<p>
  <strong>Veiculo:</strong>
  <%= @estoque.veiculo %>
</p>

<p>
  <strong>Placa:</strong>
  <%= @estoque.placa %>
</p>

<p>
  <strong>Cor:</strong>
  <%= @estoque.cor %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @estoque.ano %>
</p>

<p>
  <strong>Chassi:</strong>
  <%= @estoque.chassi %>
</p>

<p>
  <strong>Chave:</strong>
  <%= @estoque.chave %>
</p>

<p>
  <strong>Funciona:</strong>
  <%= @estoque.funciona %>
</p>

<p>
  <strong>Banco:</strong>
  <%= @estoque.banco %>
</p>

<p>
  <strong>Dataentrada:</strong>
  <%= @estoque.dataentrada %>
</p>

<p>
  <strong>Reboque:</strong>
  <%= @estoque.reboque %>
</p>

<p>
  <strong>Enderecocoleta:</strong>
  <%= @estoque.enderecocoleta %>
</p>

<p>
  <strong>Tipoentrada:</strong>
  <%= @estoque.tipoentrada %>
</p>

<p>
  <strong>Datasaida:</strong>
  <%= @estoque.datasaida %>
</p>

<p>
  <strong>Local:</strong>
  <%= @estoque.local %>
</p>

<p>
  <strong>Situacao:</strong>
  <%= @estoque.situacao %>
</p>

<p>
  <strong>Transportado:</strong>
  <%= @estoque.transportado %>
</p>

<%= link_to 'Edit', edit_estoque_path(@estoque) %> |
<%= link_to 'Back', estoques_path %>
